# Amphi 1 - Introduction to programming in Python

# 1. Numbers

Number in Python can be integers, real numbers and complex numbers.

## 1.1 Integers: int and long

**int** is used for integers between -2\*\*31 and 2\*\*31 - 1.
**long** may be used for integers out of this range. We can specify "L" at the end of an **int** to force it as **long**.

In [2]:
a = 10
b = 2**32
c = 10L
type(a), type(b), type(c)

(int, long, long)

The largest integer of type **int** can be called by using the constant **maxint** in library **sys**.

In [3]:
import sys
a = sys.maxint
a, type(a)

(2147483647, int)

In [4]:
a == 2**31 - 1

True

An integer operation exceeding the range of **int** will return a **long**.

In [5]:
a = 2
b = 32
c = a**b
type(a), type(b), type(c)

(int, int, long)

## 1.2 Real numbers: float

A **float** represents a real number.

In [6]:
a = 1.0
b = 6e-5
a, b, type(a), type(b)

(1.0, 6e-05, float, float)

The syntax "%.2f" can be used to print a float rounded upto 2 decimal digits.

In [7]:
print "%.5f, %.4f" % (b, b)

0.00006, 0.0001

## 1.3 Complex numbers: complex

Type **complex** represents complex numbers.

In [8]:
a = 2 + 1j
print a, type(a)

(2+1j) <type 'complex'>

Some basic attribute and functions of a **complex**.

In [9]:
a.real, a.imag, a.conjugate(), abs(a)

(2.0, 1.0, (2-1j), 2.23606797749979)

For more interesting functions, use library **cmath**.

In [10]:
import cmath
b = 1/2 + cmath.sqrt(3)/2*1j
cmath.phase(b)/cmath.pi

0.5

## 1.4 Boolean: bool

A **bool** can takes 2 possible values **True**, **False**. As a number, they can be considered as 1, 0 respectively.

In [11]:
a = True
b = 2>3
a, b

(True, False)

In [12]:
True + True, False - True, (True + True) * 10, True + 3j

(2, -1, 20, (1+3j))

## 1.5 Type conversion

**bool**, **int**, **long**, **float**, **complex** are numbers in Python. Number of one type can be converted to another type by the following rules:

<img src="Figure1.png" />

Some other functions to convert:

In [13]:
import math
a = round(1.256, 2)
b = math.floor(1.256)
c = math.ceil(1.256)
a, b, c

(1.26, 1.0, 2.0)

## 1.6 Operations on numbers

Type inclusion: **bool** $\subset$ **int** $\subset$ **long** $\subset$ **float** $\subset$ **complex**.

General rule: Operations (+, -, \*, /, \*\*) on 2 numbers return a result of the "bigger" type.

In [14]:
2 + 3.0 - 5L, type(2 + 3.0 - 5L), (3.0 + 2j) ** 2.0, type((3.0 + 2j) ** 2.0), True + 15L, type(True + 15L)

(0.0, float, (5+12j), complex, 16L, long)

**Exception**: Some functions can change the type of variables (like $\log$, $\sin$, $\mathrm{abs}$)

In [15]:
type(abs(2+3j)), type(math.sin(1)), type(math.log(4))

(float, float, float)

**Exception**: Division of integers in Python 2 is integer division, and in Python is float division.

In [16]:
3/2

1

% is used for taking remainder in an integer division

In [17]:
103 % 5

3

**Operations on boolean**

In [18]:
True and False, True or (2 > 3), not (1 == 1)

(False, True, False)

## 1.7 Comparison between numbers

In Python, to compare numbers of different types, we compare them as values of the "bigger" type.

In [19]:
2 == 2.0, True == 1 + 0j, True > 4.0, 3/(2+1j)*(2+1j) == True + True + True

(True, True, False, True)

Attention: Some error may affect the comparison

In [20]:
3/(2+3j)*(2+3j), 3/(2+3j)*(2+3j) == 3

((3-2.220446049250313e-16j), False)

# 2. String

## 2.1 String: str

A **str** in Python is delimited by "" or ''

In [21]:
a = "Python"
b = 'python'
a, b

('Python', 'python')

**Get length**

In [22]:
len(a), len(b)

(6, 6)

**Get a character of strings by specifying its index in []. Characters are indexed from 0 to length-1**

In [23]:
a[0], a[1], a[2], b[3], b[4], b[5], b[len(b) - 1]

('P', 'y', 't', 'h', 'o', 'n', 'n')

**Characters can also be indexed from -length to -1**

In [24]:
a[-6], a[-5], a[-4], b[-3], b[-2], b[-1]

('P', 'y', 't', 'h', 'o', 'n')

**Get substring**

In [25]:
a[1:4], a[3:], b[:2], b[:-1]

('yth', 'hon', 'py', 'pytho')

**A str is immutable. We can't modify characters of it.**

In [26]:
#a[0] = "Q"
#TypeError: 'str' object does not support item assignment

## 2.2 Operations on strings

**Concatenation**

In [27]:
a = "Python"
b = "python"
c = a + " " + b
c

'Python python'

**Split string to words**

In [28]:
c.split(" ")

['Python', 'python']

**Split string to characters.**

In [29]:
list(c)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'y', 't', 'h', 'o', 'n']

**Find the first position of a substring in a string (if not found, return -1)**

In [30]:
c.find("tho"), c.find("THO"), c.rfind("tho")

(2, -1, 9)

**Find number of occurence of a character or substring**

In [31]:
c.count("ho"), c.count("H")

(2, 0)

**Capitalization**

In [32]:
d = c.lower()
e = d.upper()
f = d.capitalize()
d, e, f

('python python', 'PYTHON PYTHON', 'Python python')

**Replace a substring**

In [33]:
c.replace("ho", "HO")

'PytHOn pytHOn'

**Join a list to one string, using delimitor**

In [34]:
"--".join(c)

'P--y--t--h--o--n-- --p--y--t--h--o--n'

## 2.3 Special string literals

"\t", "\n" are used for tab and newline.

In [35]:
s = "1\t2\t3\n4\t5\t6\n"
s

'1\t2\t3\n4\t5\t6\n'

In [36]:
print s

1	2	3
4	5	6

Other characters: 

| Escape Sequence  | Meaning                              |
|------------------|--------------------------------------|
| \newline         | Ignored                              |
| \\               | Backslash (\)                        |
| \'               | Single quote (')                     |
| \"               | Double quote (")                     |
| \a               | ASCII Bell (BEL)                     |
| \b               | ASCII Backspace (BS)                 |
| \f               | ASCII Formfeed (FF)                  |
| \n               | ASCII Linefeed (LF)                  |
| \r               | ASCII Carriage Return (CR)           |
| \t               | ASCII Horizontal Tab (TAB)           |
| \v               | ASCII Vertical Tab (VT)              |
| \ooo             | ASCII character with octal value ooo |
| \xhh...          | ASCII character with hex value hh... |

## 2.4 Read from and write to files

**Read everything as a string**

In [37]:
myfile = open("text.txt", 'r')
text = myfile.read()
print text
myfile.close()

Line 1, Column 1, Column 2
Line 2, Column 1, Column 2
Line 3, Column 1, Column 2
Line 4, Column 1, Column 2

**Read everything as a list of lines**

In [38]:
myfile = open("text.txt", 'r')
text = myfile.readlines()
print text
myfile.close()

['Line 1, Column 1, Column 2\n', 'Line 2, Column 1, Column 2\n', 'Line 3, Column 1, Column 2\n', 'Line 4, Column 1, Column 2']

**Read line by line**

In [39]:
myfile = open("text.txt", 'r')
line = myfile.readline()
print line

Line 1, Column 1, Column 2

In [40]:
line = myfile.readline()
print line

Line 2, Column 1, Column 2

In [41]:
myfile.close()

**Write to file**

In [42]:
myfile = open("new_text.txt", 'w')
myfile.write('Line 1, Column 1, Column 2\n')
myfile.write('Line 2, Column 1, Column 2\n')
myfile.close()

In [43]:
myfile = open("new_text.txt", 'r')
text = myfile.read()
print text
myfile.close()

Line 1, Column 1, Column 2
Line 2, Column 1, Column 2

**Add to the end of file, without overriding**

In [44]:
myfile = open("new_text.txt", 'a')
myfile.write('Line 3, Column 1, Column 2\n')
myfile.write('Line 4, Column 1, Column 2\n')
myfile.close()

In [45]:
myfile = open("new_text.txt", 'r')
text = myfile.read()
print text
myfile.close()

Line 1, Column 1, Column 2
Line 2, Column 1, Column 2
Line 3, Column 1, Column 2
Line 4, Column 1, Column 2

# 3. Iterables: list, tuple, set and dict

An iterable type represents object with several similar components.

The most popular iterable types in Python are **list**, **tuple**, **set** and **dict**.

If **w** is an iterable object, we can retrieve its component using a **for** loop.

In [51]:
w = [1, 2, 3, 4, 5, 6, "last"]
print type(w)
for x in w:
    print x

<type 'list'>
1
2
3
4
5
6
last

## 3.1 list

In [46]:
#list, indices, mutability, operation on list, sort a list, range, loop in a list

Python recognizes an object between "[" and "]" size as a list.

In [55]:
my_list = [1, 'P', 5.0, 6-2j, "abc"]
type(my_list)

list

Elements (components) are indexed like in **str** (from 0 to length-1, or from -length to -1)

In [56]:
my_list[0], my_list[-len(my_list) + 1], my_list[1:3], my_list[2:]

(1, 'P', ['P', 5.0], [5.0, (6-2j), 'abc'])

### 3.1.1 list is mutable

That means we can modify their elements without creating a new copy of the list.

In [57]:
L = [0, 1, 2, 3, 4, 5]
L[0] = -1
L

[-1, 1, 2, 3, 4, 5]

This is very useful for deleting elements.

In [60]:
L = [0, 1, 2, 3, 4, 5]
L[1:4] = []
L

[0, 4, 5]

or for insertion

In [63]:
L = [0, 1, 2, 3, 4, 5]
L[1:2] = [-1, L[1]]
L

[0, -1, 1, 2, 3, 4, 5]

In [65]:
L =  [0, 1, 2, 3, 4, 5]
L[len(L):] = [6]
L

[0, 1, 2, 3, 4, 5, 6]

But pay attention to your code if there is any copy of the list.

In [66]:
L = [0, 1, 2, 3, 4, 5]
M = [0, 1, 2, 3, 4, 5]
L[0] = -1
M

[0, 1, 2, 3, 4, 5]

In [67]:
L = [0, 1, 2, 3, 4, 5]
M = L
L[0] = -1
M

[-1, 1, 2, 3, 4, 5]

### 3.1.2 Operations on list

**Concatenation**

In [68]:
L = [1, 2, 3, 4, 5, 6]
M = [7, 8]
K = L + M
K

[1, 2, 3, 4, 5, 6, 7, 8]

**Append an element to the end**

In [69]:
L = [1, 2, 3, 4, 5, 6]
L.append(7) #Like L = L + [7]
L

[1, 2, 3, 4, 5, 6, 7]

**Insertion**

In [75]:
L = [1, 2, 3, 4, 5, 6]
L.insert(2, 7) #Like L = L[:2] + [7] + L[2:]
L

[1, 2, 7, 3, 4, 5, 6]

**Extension**

In [76]:
L = [1, 2, 3, 4, 5, 6]
L.extend([7, 8]) #Like L = L + [7, 8]
L

[1, 2, 3, 4, 5, 6, 7, 8]

**Sorting in ascending order**

In [80]:
L = [2, 3, 1, 6, 4, 5]
L.sort()
L

[1, 2, 3, 4, 5, 6]

**Reverse the list**

In [82]:
L = [2, 3, 1, 6, 4, 5]
L.reverse()
L

[5, 4, 6, 1, 3, 2]

**Delete an element**

In [87]:
L = [1, 2, 3, 4, 5, 6]
a = L.pop(2)
L, a

([1, 2, 4, 5, 6], 3)

**Delete the last element**

In [89]:
L = [1, 2, 3, 4, 5, 6]
a = L.pop()
L, a

([1, 2, 3, 4, 5], 6)

**max, min, sum of a list**

In [98]:
L = [1, 2, 3, 4, 5, 6]
max(L), min(L), sum(L)

(6, 1, 21)

**Count the number of ocurrences**

In [101]:
L = ['a', 'ab', ['a'], 'a', ['a'], 'aa', 'a']
L.count('a'), L.count(['a'])

(3, 2)

**Duplicate elements**

In [102]:
L = [1, 2]
L*3

[1, 2, 1, 2, 1, 2]

**Check if element in list**

In [118]:
L = ['a', 'ab', ['a'], 'a', ['a'], 'aa', 'a']
['a'] in L, 'A' in L #Like L.count(['a']) > 0, L.count('A') > 0

(True, False)

### 3.1.3 List of list

Elements of a **list** can be any object, eventually a **list**. In this case, **a\[i\]** is a list. To access to the **j**-th element of the **i**-th element of **a**, we can use **a\[i\]\[j\]**.

In [90]:
L = [[1, 2, 3], [4, 5, 6]]
L[0][1]

2

We can use list of list to describe a table of $m$ rows and $n$ columns. Row and column can be access as follows:

In [93]:
L = [[1, 2, 3], [4, 5, 6]]
L[0]

[1, 2, 3]

In [94]:
[row[0] for row in L]

[1, 4]

## 3.2 tuple

Python recognize an object between "\(" and "\)" as a tuple. Indexing of tuple is like list.

In [107]:
T = (1, 2, 3, 4)
type(T), len(T), T[-3], T[1:]

(tuple, 4, 2, (2, 3, 4))

When we print several objects to console delimited by a ",", the tuple of these objects is printed.

In [108]:
1, [2, 3], True

(1, [2, 3], True)

### 3.2.1 tuple is immutable

In [110]:
T = (1, 2, 3, 4)
#The following line should raise an error: 'tuple' object does not support item assignment
#T[2] = 2

### 3.2.2 Operations on tuple

**Concatenation**

In [116]:
T = (1, 2, 3, 4)
print T + T
print T * 0
print T * 3

(1, 2, 3, 4, 1, 2, 3, 4)
()
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

**Get max, min, sum**

In [117]:
T = (1, 2, 3, 4)
max(T), min(T), sum(T)

(4, 1, 10)

**Check element in tuple**

In [120]:
T = (1, 2, 3, 4)
2 in T

True

## 3.3 set

To describe a **set**, use the keyword **set** with a list or tuple.

In [121]:
S = set([1, 2, 'a', 3, 3])
print type(S)
print S

<type 'set'>
set(['a', 1, 2, 3])

**Comparison of set in mathematical sense** (with number comparison)

In [123]:
S = set([1, 2, 'a', 4.0])
R = set(['a', 4, True, (2+0j)])
S == R

True

### 3.3.1 Set is mutable. Operations

In [125]:
R = set([1, 2, 3, 4, 5])
S = set([1, 2, 6])
R.update(S)
print R

set([1, 2, 3, 4, 5, 6])

**Add an element to R**

In [130]:
R = set([1, 2, 3, 4, 5])
R.add(10)
R

{1, 2, 3, 4, 5, 10}

In [132]:
R = set([1, 2, 3, 4, 5])
R.remove(5)
R
# The following line should raise an error KeyError
# R.remove(6)

{1, 2, 3, 4}

In [ ]:
R = set([1, 2, 3, 4, 5])
R.discard(5)
R
# The following line raises no error 
R.remove(6)

In [133]:
R = set([1, 2, 3, 4, 5])
R.clear()
R

set()

In [134]:
R = set([1, 2, 3, 4, 5])
len(R)

5

In [135]:
R = set([1, 2, 3, 4, 5])
S = set([1, 4])
S.issubset(R), R.issuperset(S)

(True, True)

In [136]:
R = set([1, 2, 3, 4, 5])
2 in R

True

## 3.4 dict

In [138]:
R = set([1, 2, 3, 4, 5])
S = set([1, 6])
R | S, R & S, R - S, R ^ S

R = {1, 2, 3}
print type(R)

<type 'set'>

hash

## 3.5 Type conversion

## 3.6 Comparison

Sequence objects may be compared to other objects with the same sequence type. The comparison uses lexicographical ordering: first the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared, and so on, until either sequence is exhausted. If two items to be compared are themselves sequences of the same type, the lexicographical comparison is carried out recursively. If all items of two sequences compare equal, the sequences are considered equal. If one sequence is an initial sub-sequence of the other, the shorter sequence is the smaller (lesser) one. Lexicographical ordering for strings uses the ASCII ordering for individual characters. Some examples of comparisons between sequences of the same type:

In [47]:
a = (1, 2, 3)              < (1, 2, 4)
b = [1, 2, 3]              < [1, 2, 4]
c1 = 'ABC' < 'C' 
c2 = 'C' < 'Pascal' 
c3 = 'Pascal'< 'Python'
d = (1, 2, 3, 4)           < (1, 2, 4)
e = (1, 2)                 < (1, 2, -1)
f = (1, 2, 3)             == (1.0, 2.0, 3.0)
g = (1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)
a, b, c1, c2, c3, d, e, f, g

(True, True, True, True, True, True, True, True, True)

# 4. Functions

## 4.1 Define a function

## 4.2 lambda

## 4.3 filter, map, reduce

## 4.4 sorted

# 5. if and for

## 5.1 if

## 5.2 for

## 5.3 while

## 5.4 return

## 5.5 continue

## 5.6 break

## 5.7 enumerate

## 5.8 zip

# 6. Modules

# 7. The intepreter