# Types in Python

# 1. Numbers

Number in Python can be integers, real numbers and complex numbers.

## 1.1 Integers: int and long

**int** is used for integers between -2\*\*31 and 2\*\*31 - 1.
**long** may be used for integers out of this range. We can specify "L" at the end of an **int** to force it as **long**.

In [193]:
a = 10
b = 2**32
c = 10L
type(a), type(b), type(c)

(int, long, long)

The largest integer of type **int** can be called by using the constant **maxint** in library **sys**.

In [194]:
import sys
a = sys.maxint
a, type(a)

(2147483647, int)

In [195]:
a == 2**31 - 1

True

An integer operation exceeding the range of **int** will return a **long**.

In [196]:
a = 2
b = 32
c = a**b
type(a), type(b), type(c)

(int, int, long)

## 1.2 Real numbers: float

A **float** represents a real number.

In [197]:
a = 1.0
b = 6e-5
a, b, type(a), type(b)

(1.0, 6e-05, float, float)

The syntax "%.2f" can be used to print a float rounded upto 2 decimal digits.

In [198]:
print "%.5f, %.4f" % (b, b)

0.00006, 0.0001

## 1.3 Complex numbers: complex

Type **complex** represents complex numbers.

In [199]:
a = 2 + 1j
print a, type(a)

(2+1j) <type 'complex'>

Some basic attribute and functions of a **complex**.

In [200]:
a.real, a.imag, a.conjugate(), abs(a)

(2.0, 1.0, (2-1j), 2.23606797749979)

For more interesting functions, use library **cmath**.

In [201]:
import cmath
b = 1/2 + cmath.sqrt(3)/2*1j
cmath.phase(b)/cmath.pi

0.5

## 1.4 Boolean: bool

A **bool** can takes 2 possible values **True**, **False**. As a number, they can be considered as 1, 0 respectively.

In [202]:
a = True
b = 2>3
a, b

(True, False)

In [203]:
True + True, False - True, (True + True) * 10, True + 3j

(2, -1, 20, (1+3j))

## 1.5 Type conversion

**bool**, **int**, **long**, **float**, **complex** are numbers in Python. Number of one type can be converted to another type by the following rules:

<img src="Figure1.png" />

Some other functions to convert:

In [204]:
import math
a = round(1.256, 2)
b = math.floor(1.256)
c = math.ceil(1.256)
a, b, c

(1.26, 1.0, 2.0)

## 1.6 Operations on numbers

Type inclusion: **bool** $\subset$ **int** $\subset$ **long** $\subset$ **float** $\subset$ **complex**.

General rule: Operations (+, -, \*, /, \*\*) on 2 numbers return a result of the "bigger" type.

In [205]:
2 + 3.0 - 5L, type(2 + 3.0 - 5L), (3.0 + 2j) ** 2.0, type((3.0 + 2j) ** 2.0), True + 15L, type(True + 15L)

(0.0, float, (5+12j), complex, 16L, long)

**Exception**: Some functions can change the type of variables (like $\log$, $\sin$, $\mathrm{abs}$)

In [206]:
type(abs(2+3j)), type(math.sin(1)), type(math.log(4))

(float, float, float)

**Exception**: Division of integers in Python 2 is integer division, and in Python is float division.

In [207]:
3/2

1

% is used for taking remainder in an integer division

In [208]:
103 % 5

3

**Operations on boolean**

In [209]:
True and False, True or (2 > 3), not (1 == 1)

(False, True, False)

## 1.7 Comparison between numbers

In Python, to compare numbers of different types, we compare them as values of the "bigger" type.

In [210]:
2 == 2.0, True == 1 + 0j, True > 4.0, 3/(2+1j)*(2+1j) == True + True + True

(True, True, False, True)

Attention: Some error may affect the comparison

In [211]:
3/(2+3j)*(2+3j) == 3

False

# 2. String

## 2.1 String: str

A **str** in Python is delimited by "" or ''

In [212]:
a = "Python"
b = 'python'
a, b

('Python', 'python')

**Get length**

In [213]:
len(a), len(b)

(6, 6)

**Get a character of strings by specifying its index in []. Characters are indexed from 0 to length-1**

In [214]:
a[0], a[1], a[2], b[3], b[4], b[5], b[len(b) - 1]

('P', 'y', 't', 'h', 'o', 'n', 'n')

**Characters can also be indexed from -length to -1**

In [215]:
a[-6], a[-5], a[-4], b[-3], b[-2], b[-1]

('P', 'y', 't', 'h', 'o', 'n')

**Get substring**

In [216]:
a[1:4], a[3:], b[:2], b[:-1]

('yth', 'hon', 'py', 'pytho')

**A str is immutable. We can't modify characters of it.**

In [217]:
#a[0] = "Q"
#TypeError: 'str' object does not support item assignment

## 2.2 Operations on strings

**Concatenation**

In [218]:
a = "Python"
b = "python"
c = a + " " + b
c

'Python python'

**Split string to words**

In [219]:
c.split(" ")

['Python', 'python']

**Split string to characters.**

In [220]:
list(c)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'y', 't', 'h', 'o', 'n']

**Find the first position of a substring in a string (if not found, return -1)**

In [221]:
c.find("tho"), c.find("THO"), c.rfind("tho")

(2, -1, 9)

**Find number of occurence of a character or substring**

In [222]:
c.count("ho"), c.count("H")

(2, 0)

**Capitalization**

In [223]:
d = c.lower()
e = d.upper()
f = d.capitalize()
d, e, f

('python python', 'PYTHON PYTHON', 'Python python')

**Replace a substring**

In [224]:
c.replace("ho", "HO")

'PytHOn pytHOn'

**Join a list to one string, using delimitor**

In [225]:
"--".join(c)

'P--y--t--h--o--n-- --p--y--t--h--o--n'

## 2.3 Special string literals

"\t", "\n" are used for tab and newline.

In [226]:
s = "1\t2\t3\n4\t5\t6\n"
s

'1\t2\t3\n4\t5\t6\n'

In [227]:
print s

1	2	3
4	5	6

Other characters: 

| Escape Sequence  | Meaning                              |
|------------------|--------------------------------------|
| \newline         | Ignored                              |
| \\               | Backslash (\)                        |
| \'               | Single quote (')                     |
| \"               | Double quote (")                     |
| \a               | ASCII Bell (BEL)                     |
| \b               | ASCII Backspace (BS)                 |
| \f               | ASCII Formfeed (FF)                  |
| \n               | ASCII Linefeed (LF)                  |
| \r               | ASCII Carriage Return (CR)           |
| \t               | ASCII Horizontal Tab (TAB)           |
| \v               | ASCII Vertical Tab (VT)              |
| \ooo             | ASCII character with octal value ooo |
| \xhh...          | ASCII character with hex value hh... |

## 2.4 Read from and write to files

**Read everything as a string**

In [228]:
myfile = open("text.txt", 'r')
text = myfile.read()
print text
myfile.close()

Line 1, Column 1, Column 2
Line 2, Column 1, Column 2
Line 3, Column 1, Column 2
Line 4, Column 1, Column 2

**Read everything as a list of lines**

In [229]:
myfile = open("text.txt", 'r')
text = myfile.readlines()
print text
myfile.close()

['Line 1, Column 1, Column 2\n', 'Line 2, Column 1, Column 2\n', 'Line 3, Column 1, Column 2\n', 'Line 4, Column 1, Column 2']

**Read line by line**

In [230]:
myfile = open("text.txt", 'r')
line = myfile.readline()
print line

Line 1, Column 1, Column 2

In [231]:
line = myfile.readline()
print line

Line 2, Column 1, Column 2

In [232]:
myfile.close()

**Write to file**

In [239]:
myfile = open("new_text.txt", 'w')
myfile.write('Line 1, Column 1, Column 2\n')
myfile.write('Line 2, Column 1, Column 2\n')
myfile.close()

In [240]:
myfile = open("new_text.txt", 'r')
text = myfile.read()
print text
myfile.close()

Line 1, Column 1, Column 2
Line 2, Column 1, Column 2

**Add to the end of file, without overriding**

In [241]:
myfile = open("new_text.txt", 'a')
myfile.write('Line 3, Column 1, Column 2\n')
myfile.write('Line 4, Column 1, Column 2\n')
myfile.close()

In [242]:
myfile = open("new_text.txt", 'r')
text = myfile.read()
print text
myfile.close()

Line 1, Column 1, Column 2
Line 2, Column 1, Column 2
Line 3, Column 1, Column 2
Line 4, Column 1, Column 2

# 3. Iterables: list, tuple, set and dict

## 3.1 list

In [243]:
#list, indices, mutability, operation on list, sort a list, range, loop in a list

## 3.2 tuple

## 3.3 set

## 3.4 dict

hash

## 3.5 Type conversion

## 3.6 Comparison

Sequence objects may be compared to other objects with the same sequence type. The comparison uses lexicographical ordering: first the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared, and so on, until either sequence is exhausted. If two items to be compared are themselves sequences of the same type, the lexicographical comparison is carried out recursively. If all items of two sequences compare equal, the sequences are considered equal. If one sequence is an initial sub-sequence of the other, the shorter sequence is the smaller (lesser) one. Lexicographical ordering for strings uses the ASCII ordering for individual characters. Some examples of comparisons between sequences of the same type:

In [238]:
a = (1, 2, 3)              < (1, 2, 4)
b = [1, 2, 3]              < [1, 2, 4]
c1 = 'ABC' < 'C' 
c2 = 'C' < 'Pascal' 
c3 = 'Pascal'< 'Python'
d = (1, 2, 3, 4)           < (1, 2, 4)
e = (1, 2)                 < (1, 2, -1)
f = (1, 2, 3)             == (1.0, 2.0, 3.0)
g = (1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)
a, b, c1, c2, c3, d, e, f, g

(True, True, True, True, True, True, True, True, True)

# 4. Functions

## 4.1 Define a function

## 4.2 lambda

## 4.3 filter, map, reduce

## 4.4 sorted

# 5. if and for

## 5.1 if

## 5.2 for

## 5.3 while

## 5.4 return

## 5.5 continue

## 5.6 break

## 5.7 enumerate

## 5.8 zip

# 6. Modules

# 7. The intepreter